<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- v-for 根据数组中的元素遍历指定模板内容生成内容。 -->
<!-- 如果想给一个ul标签中的多个li标签分别赋值1，2，3。如果不用循环，就要挨个赋值 -->
<div id="app">
    <li>{{list[0]}}</li>
    <li>{{list[1]}}</li>
    <li>{{list[2]}}</li>

    <!-- v-for赋值 -->
    <li v-for="item in list">{{item}}</li>
    <!-- (2)括号里如果写两个参数：第一个参数代表值，第二个参数代表index 索引 -->
    <li v-for="(item,index) in arr1">值：{{item}} --- 索引：{{index}}</li>

    <!--    对象数组遍历-->
    <!-- 对象数组的遍历。括号里如果写两个参数：第一个参数代表数组的单个item，第二个参数代表 index 索引-->
    <li v-for="(item, index) in dataList">姓名：{{item.name}} --- 年龄：{{item.age}} --- 索引：{{index}}</li>

    <!--    对象遍历-->
    <!-- 括号里如果写两个参数：则第一个参数代表value，第二个参数代表key -->
    <li v-for="(value,key) in obj1">值：{{value}} --- 键：{{key}} </li>
    <h3>---分隔线---</h3>
    <!-- 括号里如果写三个参数：则第一个参数代表value，第二个参数代表key，第三个参数代表index -->
    <li v-for="(value,key,index) in obj1">值：{{value}} --- 键：{{key}} --- index：{{index}} </li>

    <!-- 数字的遍历 -->
    <!-- 注意：如果使用 v-for 遍历数字的话，前面的 myCount 值从 1 开始算起 -->
    <li v-for="myCount in 10">这是第 {{myCount}}次循环</li>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data: {
            list:[1,2,3]
        }
    })
    /*
    两个参数
    arr1: [2, 5, 3, 1, 1],
     */
    /*
    对象数组遍历
    dataList: [
                { name: 'smyh', age: '26' },
                { name: 'vae', age: '32' },
                { name: 'xiaoming', age: '20' }
            ]
     */
    /*
    对象遍历
    data: {
      obj1: {
        name: 'qianguyihao',
        age: '26',
        gender: '男'
      }
    }
     */
    /*
    遍历数字
     */
    /*
    v-for中的key的使用注意事项
    **注意**：在 Vue 2.2.0+ 版本里，当在**组件中**使用 v-for 时，key 属性是必须要加上的。
        - 这样做是因为：每次 for 循环的时候，通过指定 key 来标示当前循环这一项的**唯一身份**。
        - > 当 Vue.js 用 v-for 正在更新已渲染过的元素列表时，它默认用 “**就地复用**” 策略。如果数据项的顺序被改变，Vue将**不是移动 DOM 元素来匹配数据项的顺序**， 而是**简单复用此处每个元素**，并且确保它在特定索引下显示已被渲染过的每个元素。
        - > 为了给 Vue 一个提示，**以便它能跟踪每个节点的身份，从而重用和重新排序现有元素**，你需要为每项提供一个唯一 key 属性。
        - key的类型只能是：string/number，而且要通过 v-bind 来指定。
     */
</script>
</body>
</html>